@use '../utils/variables' as *

.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 155px
  gap: 8px

  h2
    font: normal normal bold 15px/15px $font-poppins
    color: $primary-green
