.teste {
  background: #000000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teste p {
  font-family: poppins, sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  height: 15px;
  letter-spacing: 4.8px;
}

@media (max-width: 600px) {
  .teste {
    height: 45px;
  }
  .teste p {
    text-align: center;
  }
}
.btn, .main .container .vitrine .swiper .swiper-wrapper .card-produto button {
  border-radius: 5px;
  font: bold 14px/14px poppins, sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}

.btn-green, .main .container .vitrine .swiper .swiper-wrapper .card-produto button {
  background: #34CB2E;
  color: #000000;
}

.btn-black {
  background: #000000;
  color: #FFFFFF;
}

header {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 80px;
  background: #F3F2F3;
  font-family: poppins, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
header .container {
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 20px;
  max-width: 70%;
}
header .logo {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}
header .logo span {
  color: #924FCD;
  font-weight: 900;
}
header .logo span a, header .logo span a:hover {
  text-decoration: none;
}
header .busca {
  margin: 0 16px;
  flex: 1 0 auto;
}
header input[type=search] {
  background: #E6E6E6 no-repeat 13px 13px;
  background-image: url("data:image/png;base64,...");
  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  outline: none;
  text-indent: 30px;
  display: block;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #433D3D;
  line-height: 80px;
  transition: all 0.3s;
}
header nav a:not(:first-child) {
  margin-left: 25px;
}
header nav a:hover {
  opacity: 0.6;
}

.menu {
  display: none;
}

.content {
  margin-top: 80px;
  padding: 16px;
  color: #FFF;
  background: #151515;
}
.content h3 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
    line-height: 80px;
    margin: 0;
  }
  header nav {
    width: 100%;
    position: absolute;
    display: none;
    top: 80px;
    left: 0;
  }
  header nav a {
    display: inline-block;
    background: #F3F2F3;
    color: #151515;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    line-height: 0;
  }
  header nav a:not(:first-child),
  header nav a li {
    margin: 0;
  }
  header nav a:hover {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
  }
  .active {
    display: block;
  }
}
.banner img {
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  background: #F1F1F1;
  padding: 25px 0;
}
.main .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70%;
  padding: 0 16px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.main .container .vitrine {
  display: flex;
  max-width: 70%;
  margin: 25px 0;
  flex-direction: column;
}
.main .container .vitrine h2 {
  font: normal normal 800 30px/30px poppins, sans-serif;
  color: #000000;
  text-align: left;
  margin: 15px 0;
}
.main .container .vitrine .swiper {
  padding: 20px 0;
  width: 70%;
}
.main .container .vitrine .swiper .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 25px;
  max-width: 300px;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto picture img {
  width: 250px;
  height: auto;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto p {
  color: #000000;
  font: normal normal 500 13px/17px poppins, sans-serif;
  text-align: center;
  max-width: 230px;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto .preco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto .preco .traco {
  text-decoration: line-through;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto .preco p {
  color: #909090;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto .preco h3 {
  font: normal normal 900 20px/20px poppins, sans-serif;
  color: #34CB2E;
}
.main .container .vitrine .swiper .swiper-wrapper .card-produto button {
  font: normal normal 700 13px/17px poppins, sans-serif;
  width: 180px;
  height: 45px;
}
.main .container .arrow {
  background-color: #000000;
  color: #FFFFFF;
  width: 35px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .container .arrow img {
  width: 18px;
  height: 15px;
}
.main .container .swiper-button-prev::after,
.main .container .swiper-button-next::after {
  display: none;
  content: none;
}
.main .container .container-banner {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 25px 0;
}
.main .container .container-banner picture img {
  width: 100%;
  max-width: 620px;
  height: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: 118px;
}
.info div {
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 16px;
}
.info div .logo img {
  width: 184px;
  height: 29px;
}
.info div p {
  font: normal normal normal 12px/20px Axiforma, sans-serif;
  letter-spacing: -0.3px;
  text-align: justify;
  color: #FFFFFF;
  width: 1020px;
  height: 58px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 155px;
  gap: 8px;
}
.footer h2 {
  font: normal normal bold 15px/15px poppins, sans-serif;
  color: #34CB2E;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
