@use 'utils/variables' as *
@use 'layout/teste'
@use 'layout/header'
@use 'layout/banner'
@use 'layout/main'
@use 'layout/info'
@use 'layout/footer'
@use 'components/components'

*, *::before, *::after
  box-sizing: border-box

body
  margin: 0
  padding: 0